# If you do not specify a namespace, the default used is aws:elasticbeanstalk:application:environment
option_settings:
  - option_name: LOG_LEVEL
    value: debug
  - option_name: PORT
    value: 80
  - option_name: AWS_ACCESS_KEY_ID
    value: AccessKeyIdBelongsHere
  - option_name: AWS_SECRET_ACCESS_KEY
    value: SecretAccessKeyIAm
  - option_name: AWS_REGION
    value: RegionItIs
  - option_name: DYNAMO_TABLE
    value: DynamoTableNameGoesHere